.app__main-section {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.main-section__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
}
.main-section__buttons-btn {
    border: 1px solid rgba(16, 39, 112, 1);
    background-color: #fafafa;
    border-radius: 15px;
    padding: 0.5rem 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.main-section__buttons-btn:hover {
    border: 1px solid rgba(16, 39, 112, 1);
    background-color: rgba(16, 39, 112, 1);
    color: #fafafa;
}
.main-section__courses{
    margin: 2rem 5rem 2rem 5rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(14.8571rem, 1fr));
    grid-gap: 1rem;
}